################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/diacritc-code/bin/
/diacritc-code/obj/